/** My footer */
.footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e7e7e7;
    color: black;
    text-align: center;
}

/** Header on index page for tribute logo */
.tribute {
	text-shadow: 2px 2px 5px grey;
}
/** Add more spacing between the thumbnails of bootstrap */
.thumbnail {
  padding: 4px;
  margin-bottom: 20px;
}

.row {
	padding: 4px;
}

/** change carousel arrows in bootstrap */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  /** border-radius: 50%;
  border: 1px solid black;*/
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 25px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 25px;
  color: black;
}


ul {
	overflow: auto;
}

ul li {
	list-style-type: none;
	float: left;
}

ul li a i {
	background: #205D7A;
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	font-size: 25px;
	text-align: center;
	margin-right: 10px;
	padding-top: 15%;
}

.fa-facebook {
	background:#3b5998
} 
.fa-linkedin {
	background:#007bb6
}
.fa-twitter {
	background:#00aced
}

.fa-youtube {
	color: #CC181E;
	background:white

}

ul li a i {
	transition: all 0.2s ease-in-out;
}
ul li a i:hover {
	opacity: .7;
}

.myform {
    padding: 70px;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.carousel-inner img {
  margin: auto;
}

